
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500;1,600&family=Roboto:wght@100;300;400;500;700&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navBar{
    height: 7rem;
    width: 100%;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.navBar .logo{
    width: 8%;
}
.navBar .logo img{
    width: 100%;
}
.navBar h1{
    width: 92%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.2rem;
    color: white;
}
.menu-item{
    justify-content: center;
    height: 89vh;
    width: 20%;
    background-color: rgb(202, 234, 247);
    position: relative;

}
.nav-links{
    position: absolute;
    top: 5%;
    left: 6%;
    border-radius: 20px;
}
.menu-item .nav-links{
    height: 80vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 173, 173);
   justify-content: space-evenly;
   color: white;
   text-align: center;
   margin-left: 3.5rem;
}
.add-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 5rem;
}
.form-input{
    height: 40rem;
    width: 35rem;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 30px;
}
.form-input input{
    width: 50%;
    height: 5%;
    outline: none;
    border: none;
    border-radius: 5px;
}

label{
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.form-input .form-btn{
    margin-top: 50px;
    padding: 20px 50px 20px 50px; 
    border: none;
    background-color: rgb(54, 54, 130);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.view-head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
}
table, td, th{
    border: 1px solid;
  }
  
  table {
    width: 50%;
    border-collapse: collapse;
    position: absolute;
    top: 20%;
    left: 26%;
  }
  .btn-table{
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    outline: none;
    cursor: pointer;
    background-color: rgb(54, 54, 130);
    color: white;
  }
  .product-head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7rem;
  }
  .tbody{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .productpic img{
    height: 70px;
    width: 70px;
 }
 .thead{
   align-items: center;
   text-align: center;
 }
 .btn-share{
    margin-left: 20px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(94, 94, 255);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 18%;
    left: 25%;

 }
 .btn-share:hover{
    background-color: rgb(44, 140, 44);
    color: white;
 }

 .btn-export{
    margin-left: 20px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(94, 94, 255);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 18%;
    left: 69%;
 }
 .btn-export:hover{
    background-color: rgb(44, 140, 44);
    color: white;
 }
 .btn-import{
    margin-left: 20px;
    padding: 15px 30px 15px 30px;
    background-color: rgb(94, 94, 255);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 18%;
    left: 63%;
 }
 .btn-import:hover{
    background-color: rgb(44, 140, 44);
    color: white;
 }
 .product-table{
    width: 50%;
    border-collapse: collapse;
    position: absolute;
    top: 24%;
    left: 26%;
 }